Repository liushuang393/quarkus-template-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: maven-dependency-check, quarkus-native-compatibility, qute-template-validation, reflection-config-check

maven-dependency-check:
  name: Maven Dependency Vulnerability Check
  entry: ./scripts/check-dependencies.sh
  language: script
  pass_filenames: false

quarkus-native-compatibility:
  name: Quarkus Native Build Compatibility Check
  entry: ./scripts/check-native-compatibility.sh
  language: script
  pass_filenames: true

qute-template-validation:
  name: Qute Template Validation
  entry: ./scripts/check-qute-templates.sh
  language: script
  pass_filenames: true

reflection-config-check:
  name: Reflection Configuration Check
  entry: ./scripts/check-reflection-usage.sh
  language: script
  pass_filenames: true

docs: Fix URLs and add acknowledgments to open source community
  README.md
Due: none

docs: Add Quarkus advantages and comprehensive development workflow
  README.md
Due: none

謝辞追加
  README.md
Due: none

文字化け対応
  README.md
Due: none

テストケース更新（テスト・本番一緒）
  README.md
  pom.xml
  src/main/java/com/example/AuthResource.java
  src/main/java/com/example/config/DatabaseInitializer.java
  src/main/resources/application.yaml
  src/test/java/com/example/AuthResourceIntegrationTest.java
  src/test/java/com/example/HealthCheckTest.java
  src/test/java/com/example/MetricsTest.java
  src/test/java/com/example/OpenApiTest.java
  src/test/resources/application.properties
Due: maven-dependency-check, quarkus-native-compatibility, reflection-config-check

docs: add comprehensive security warnings and fix documentation errors
  DATABASE_SETUP.md
  README.md
  ddl/database-setup-h2.sql
  ddl/database-setup.sql
  docs/production-security-guide.md
Due: none

feat: configure prod profile for native compilation by default
  README.md
  pom.xml
Due: maven-dependency-check

fix: 登録画面のエラー時ログ出力機能を追加
  src/main/java/com/example/AuthResource.java
  src/main/java/com/example/service/UserService.java
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
Due: quarkus-native-compatibility, reflection-config-check

認証ログ追記
  create-project-jp.bat
Due: none

docs: README.mdに新規プロジェクト作成（テンプレート複製）機能の説明を追加
  README.md
Due: none

feat: 全面改善错误处理机制
  README.md
  create-project-jp.bat
  ddl/database-setup-h2.sql
  src/main/java/com/example/AuthResource.java
  src/main/java/com/example/DevHashResource.java
  src/main/java/com/example/DevUserResource.java
  src/main/java/com/example/FaviconResource.java
  src/main/java/com/example/config/DatabaseInitializer.java
  src/main/java/com/example/exception/GlobalExceptionMapper.java
  src/main/java/com/example/service/UserService.java
  src/main/resources/META-INF/resources/favicon.svg
  src/main/resources/META-INF/resources/js/auth.js
  src/main/resources/application-dev.yaml
  src/main/resources/application.yaml
  src/main/resources/database-setup-h2.sql
  src/main/resources/templates/login.html
  src/test/java/com/example/ErrorHandlingTest.java
  start-dev-utf8.cmd
  start-dev-utf8.sh
Due: quarkus-native-compatibility, qute-template-validation, reflection-config-check

Path conditions:
  maven-dependency-check: any of: pom\.xml$
  quarkus-native-compatibility: any of: \.java$
  qute-template-validation: any of: \.html$
  reflection-config-check: any of: \.java$
